.env
.venv/
.venv
.VSCodeCounter/

node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

dist/
build/
out/
.angular/
.svelte-kit/
.nuxt/
.next/

__pycache__/
*.py[cod]
*$py.class

.vscode/
.idea/
.DS_Store
Thumbs.db